extends layout

block content
    .android-be-together-section.mdl-typography--text-center
        .android-font.android-slogan simple content manager system
        .android-font.android-sub-slogan welcome to android... be yourself. do your thing. see what&apos;s going on.
        br
        a.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent(href="/pages") Start
