extends ../layout

block content
    h1= title
    form(action='/pages/#{page._id}/texts', method='post')
        textarea(placeholder='body', name='body')
        button(type='submit') Send
        
