extends ../layout

block content
    .md-cell.mdl-cell--4-col
        span.mdl-typography--display-2= title
    .md-cell.mdl-cell--8-col
        a.mdl-button.mdl-button--fab.mdl-button--primary(href='/pages/new')
            i.material-icons add
    .md-cell.mdl-cell--12-col
        .mdl-grid
            each page in pages
                .mdl-card.mdl-cell.mdl-cell--4-col.mdl-shadow--2dp
                    .mdl-card__title
                        .mdl-card__title-text= page.name
                    .mdl-card__supporting-text
                    .mdl-card__actions.mdl-card--border
                        a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='/pages/#{page._id}/texts') View
                        .mdl-layout-spacer
                        form(action='/pages/#{page._id}', method='POST')
                            input(type="hidden", value='DELETE', name="_method")
                            button.mdl-button.mdl-button--accent.mdl-button-icon(type="submit")
                                i.material-icons delete
