extends ../layout

block content
    .android-more-section
        .android-section-title.mdl-typography--display-1-color-contrast Pages
               
        .android-card-container.mdl-grid

            each page in pages
                .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
                    .mdl-card__title
                        h4.mdl-card__title-text= page.name       
                    .mdl-card__supporting-text
                        span.mdl-typography--font-light.mdl-typography--subhead Four tips to make your switch to Android quick and easy
                    .mdl-card__actions
                        a.android-link.mdl-button.mdl-js-button.mdl-typography--text-uppercase(href='/pages/#{page.id}/texts') Ver
                        .mdl-layout-spacer
                        form(action='/pages/#{page._id}', method='POST')
                            input(type="hidden", value='DELETE', name="_method")
                            button.mdl-button.mdl-button--accent.mdl-button-icon(type="submit")
                                i.material-icons delete
    a#view-source.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored(href='/pages/new')
        i.material-icons add
    
