extends ../layout

block content
    h1= title
    form(action='/pages', method='POST')
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input(type="text", name='name', class="mdl-textfield__input")
            label.mdl-textfield__label Name
        input(type="submit", value='Create')
            
        
